html, body {
	height: 100%;
	background: #00a3aa;
/* #00a3aa #f6f6f6 */
}

body {
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	font-family: monospace;
	padding-left: 20em;
	padding-right: 3em;
}
#new{
	animation: typing-text1 1.5s steps(23), blink 0.5s infinite alternate;
	overflow-y: hidden;
	overflow-x: hidden;
	white-space: nowrap;
	border-right: 3px solid #000;
	width: 23ch;
}

@keyframes typing-text1 {
	from {
		width: 0ch;
	}
	to {
		width: 23ch;
	}
}
@keyframes blink {
	from {
		border-color: transparent;
	}
	to {
		border-color: #000;
	}
}
.info {
	font-size: 2em;
}